<section id="main" class="col-sm-8">
    <div class="sticky-nav">
        <nav id="post-controls">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if params[:sort].present? %>
                    <% if params[:sort] == "comment_count" %>
                    Comments
                    <% else %>
                    <%= params[:sort].capitalize %>
                    <% end %>
                    <% else %>
                    Recent
                    <% end %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%if(params[:sort].present?)%><li><a class="dropdown-item" href="/<%if(params[:topic].present?)%>?topic=<%= params[:topic]%><%end%>">Recent</a></li><%end%>
                    <%unless(params[:sort] == "comment_count")%><li><a class=" dropdown-item" href="/?sort=comment_count<%if(params[:topic].present?)%>&topic=<%= params[:topic]%><%end%>">Comments</a></li><%end%>
                    <%unless(params[:sort] == "views")%><li><a class="dropdown-item" href="?sort=views<%if(params[:topic].present?)%>&topic=<%= params[:topic]%><%end%>">Views</a></li><%end%>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if params[:topic].present? %>
                    <%= params[:topic] %>
                    <% else %>
                    All posts
                    <% end %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% @topics.each do |topic| %>
                    <% if params[:topic] != topic %>
                    <li><a class="dropdown-item" href="?topic=<%= topic %>"><%= topic %></a></li>
                    <% end %>
                    <% end %>
                </ul>
            </div>
            <form style="display:inline;">
                <div class=" md-form active-cyan active-cyan-2 mb-3" style="width: 300px;">
                    <input class="form-control" type="text" name="query" placeholder="Search" aria-label="Search">
                </div>
            </form>
            <% if params[:topic].present? or params[:query].present? %>
            <a href="/" style="padding-left:5px;"> Reset </a>
            <% end %>

            <div style="float: right;">
                <% if logged_in? %>
                <a href="microposts/new"><button type="button" class="btn btn-success">New Post</button></a>
                <% end %>
            </div>
        </nav>
        <hr />
    </div>
    <section>
        <ul class="posts">
            <% @posts.each do |post|%>
            <li>
                <div>
                    <%= image_tag("placeholder.webp", size:"50") %>
                </div>
                <div>
                    <div class="row" style="max-width: 510px;">
                        <b><%= link_to post.title, post %></b>
                    </div>
                    <div class="row">

                        <%= link_to @users.find(post.user_id).name, @users.find(post.user_id) %> |
                        Views: <%= number_with_delimiter(post.views, :delimiter => ',') %> |
                        Comments: <%= post.comment_count %> |
                        <%= time_ago_in_words(post.created_at) %> ago
                    </div>
                </div>
            </li>
            <%end%>
        </ul>
        <%= will_paginate @posts %>
    </section>
</section>

<section id="aside" class="col-sm-4">
    <section>
        <h3>Recent Members</h3>
        <div class="row" id="recent-members">
            <% @users.order(created_at: :asc).last(6).each do |user|%>
            <div class="recent-member">
                <%= link_to user.name, user %>
            </div>
            <%end%>
        </div>
    </section>
    <section id="topic">
        <h3>Topics</h3>
    </section>
    <section id="pop-posts">
        <h3>Popular Posts</h3>
        <ul class="posts">
            <% Micropost.all.order(views: :desc).limit(6).each do |post|%>
            <li>
                <div>
                    <div class="row">
                        <b><%= link_to post.title, post %></b>
                    </div>
                    <div class="row">
                        <%= link_to @users.find(post.user_id).name, @users.find(post.user_id) %> |
                        Views: <%= number_with_delimiter(post.views, :delimiter => ',') %> |
                        Comments: <%= post.comment_count %>
                    </div>
                </div>
            </li>
            <%end%>
        </ul>
    </section>
</section>