<section id="main" class="col-sm-9">
    <nav id="post-controls">
        <div class="dropdown" style="width: 90px;">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort posts
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Recent</a></li>
                <li><a class="dropdown-item" href="#">Comments</a></li>
                <li><a class="dropdown-item" href="#">Views</a></li>
            </ul>
        </div>
        <div class="md-form active-cyan active-cyan-2 mb-3" style="width: 300px;">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div style="float: right;">
            <% if logged_in? %>
            <button type="button" class="btn btn-success">New Post</button>
            <% end %>
        </div>
    </nav>
    <hr />
    <section>
        <% @posts.each do |post|%>
        <div class="">
            <%= link_to post.title, post %>
            <%= @users.find(post.user_id).name%>
            <%= post.created_at %>
            <%= post.views %>
        </div>
        <%end%>
    </section>
</section>

<section id="aside" class="col-sm-3">
    <section>
        <h3>Recent Members</h3>
        <div class="row" id="recent-members">
            <% @users.order(created_at: :asc).last(6).each do |user|%>
            <div class="recent-member">
                <%= link_to user.name, user %>
            </div>
            <%end%>
        </div>
    </section>
    <section id="topic">
        <h3>Topic</h3>
    </section>
    <section id="pop-posts">
        <h3>Popular Posts</h3>
    </section>
</section>