<li>
    <%= comment.body %> - <%= User.find_by_id(comment.user_id).name%>
    <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>

    <% if logged_in? %>
    <%= form_for [comment, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a Reply" %><br />
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :comment_id, :value => comment.id %>
    <%= f.submit "Reply"  %>
    <% end %>
    <% end %>

    <ul>
        <%= render partial: 'comments/comment', collection: comment.comments %>
    </ul>

</li>