<h3>Replies to my posts</h3>
<ul class="posts">
    <% Comment.where(commentable_id: @posts.pluck(:id)).each do |comment| %>
        <li>
            <div style="padding-left:20px;">
                <div class="row">
                    <b style="padding-right: 15px;">
                    <%= link_to User.find_by_id(comment.user_id).name, User.find_by_id(comment.user_id)%>: </b> 
                    "<em><%=comment.body.html_safe%></em>"
                </div>
                <div class="row" style="max-width: 510px;">
                    <%= link_to "Post", Micropost.find_by_id(comment.commentable_id) %>
                </div>
            </div>
        </li>
    <% end %>
</ul>

<h3>Replies to my comments</h3>
<ul class="posts">
    <% @replies.each do |reply| %>
        <li>
            <div>
                <div class="row" style="max-width: 510px;padding:0 0 15px 40px;">
                    <%= User.find_by_id(Comment.find_by_id(reply.commentable_id).user_id).name%>: 
                    <em>"<%= Comment.find_by_id(reply.commentable_id).body %>"</em>
                </div>
                <div class="row" style="padding-left:70px;">
                    <b style="padding: 0 15px 0 15px;"><%= link_to User.find_by_id(reply.user_id).name, User.find_by_id(reply.user_id)%>: </b> 
                    "<em><%=reply.body.html_safe%></em>"
                </div>
                <div class="row" style="padding-left:40px;">
                    <%= link_to "Post", reply.get_parent_post %>
                </div>
            </div>
        </li>
    <% end %>
</ul>