<%provide(:title, @post.title)%>
<div class="container post">
    <div class="row">
        <h1>
            <%=@post.title%>
        </h1>
        <h2>
            <%=@post.user.name%>
        </h2>
    </div>
    <div class="row">
        <div class="trix-content">
            <%= @post.content.html_safe %>
        </div>
    </div>
    <div class="row" id="comments-section">
        <h3>Comments</h3>

        <% if logged_in?%>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#commentCollapse" aria-expanded="false" aria-controls="collapseExample">
            Add comment
        </button>

        <div class="collapse" id="commentCollapse">
            <%= form_for [@post, Comment.new] do |f| %>
            <%= f.trix_editor :body, placeholder: "Add a comment" %><br />
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :micropost_id, :value => @post.id %>
            <%= f.submit "Add Comment" %>
            <% end %>
        </div>
        <% end %>
        <ul>
            <hr />
            <%= render(partial: 'comments/comment', collection: @post.comments) %>

        </ul>
    </div>
</div>